* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #572d2d;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: greasepencil;
  color: #e4842a;
  transform: rotate(-8deg);
  font-size: 40px;
}

h2 {
  font-family: sofia_pro;
  color: #572d2d;
  font-size: 40px;
}

#logo {
  height: 100%;
  width: 150px;
}

header {
  height: 5rem;
  background-color: #c8102e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
}

#left-nav ul {
  list-style: none;
  display: flex;
  font-family: "sofia_pro";
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

#left-nav,
#right-header {
  width: 20rem;
}

#right-header {
  display: flex;
  justify-content: flex-end;
}

#left-nav a {
  text-decoration: none;
  color: white;
  font-family: "sofia_pro";
  font-size: 1.125rem;
}

#left-nav a:hover {
  border-bottom: 2px solid white;
}

#login {
  background-color: white;
  color: #c8102e;
  height: 35px;
  width: 80px;
  font-family: "sofia_pro";
  padding: 5px;
  border-radius: 25px;
  font-size: 14px;
  align-items: center;
  border-style: none;
}

#lower-nav {
  height: 40px;
  background-color: #b20c27;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-family: "sofia_pro";
  display: flex;
  padding-left: 20px;
}

#change {
  color: white;
  font-weight: 500;
}

#language-region {
}
