* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #572d2d;
  padding: 0;
  margin: 0;
  font-family: sofia_pro;
}

/* TOP NAV  */

header {
  height: 5rem;
  background-color: #c8102e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 3.5rem;
  position: relative;
}

#logo {
  height: 39%;
}

#left-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

#left-nav {
  width: 20rem;
}

#right-header {
  width: 21.5rem;
}

#right-header {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#left-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

#left-nav a:hover {
  border-bottom: 2px solid white;
}

.nav-button {
  height: 35px;
  width: 80px;
  font-family: "sofia_pro";
  padding: 5px;
  border-radius: 25px;
  font-size: 14px;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-button:focus {
  outline-style: none;
  box-shadow: 0px 0px 0px 4px rgb(255, 180, 180);
}

#login {
  background-color: white;
  color: #c8102e;
}

#login:hover {
  background-color: rgb(247, 219, 224);
}

#cart {
  color: white;
  background-color: #c8102e;
}

#cart:hover {
  background-color: rgb(136, 10, 30);
}

#lower-nav {
  height: 1.9rem;
  background: linear-gradient(
    to right,
    rgba(199, 16, 47, 1) 0%,
    rgba(174, 11, 38, 1) 50%,
    rgba(199, 16, 47, 1) 100%
  );
  color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-left: 3.5rem;
  padding-right: 2rem;
  font-size: 0.9rem;
}

#account {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
}

#change {
  color: white;
  font-weight: 700;
  margin-left: 1rem;
}

/* MAIN */

main {
  max-width: 25rem;
  margin: 0 auto;
}

h1 {
  font-family: greasepencil;
  color: #e4842a;
  transform: rotate(-5deg);
  font-size: 3.3rem;
  text-align: center;
  margin-bottom: 0;
  white-space: nowrap;
  letter-spacing: -2px;
}

h2 {
  color: #572d2d;
  font-size: 3rem;
  text-align: center;
  margin-top: -1.9rem;
  line-height: 1;
  margin-bottom: 0.8rem;
}

#existing-account {
  background-color: #f5f1ef;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 0.75rem;
  margin: 2rem;
}

#existing-account a {
  text-decoration: none;
  color: #c8102e;
  transition: color 0.2s;
}

#existing-account a:hover {
  color: rgba(174, 11, 38, 1);
}

@media only screen and (max-width: 815px) {
  #left-nav,
  #right-header,
  #lower-nav {
    display: none;
  }
  #logo {
    margin: 0 auto;
  }
  header {
    height: 3.5rem;
    padding: 0;
  }
  #account {
    display: block;
  }
  main {
    max-width: 20rem;
  }
  h1 {
    font-size: 1.9rem;
    margin-top: 1.5rem;
  }
  h2 {
    font-size: 1.625rem;
    margin-top: -0.9rem;
    margin-bottom: 1.7rem;
  }
  #existing-account {
    margin: 0;
  }
}
