* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #572d2d;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: greasepencil;
  color: #e4842a;
  transform: rotate(-8deg);
  font-size: 40px;
}

h2 {
  font-family: sofia_pro;
  color: #572d2d;
  font-size: 40px;
}

#logo {
  height: 100%;
  width: 150px;
}

header {
  height: 4rem;
  background-color: #c8102e;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#top-nav {
  list-style: none;
  display: flex;
  font-family: "sofia_pro";
  justify-content: space-evenly;
  padding: 10px;
}

#top-nav a {
  text-decoration: none;
  color: white;
  font-family: "sofia_pro";
}

#login {
  background-color: white;
  color: #c8102e;
  height: 35px;
  width: 80px;
  font-family: "sofia_pro";
  padding: 5px;
  border-radius: 25px;
  font-size: 14px;
  align-items: center;
  border-style: none;
}

#lower-nav {
  height: 40px;
  background-color: #b20c27;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-family: "sofia_pro";
  display: flex;
  padding-left: 20px;
}

#change {
  color: white;
  font-weight: 500;
}

#language-region {
}
