* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #572d2d;
  padding: 0;
  margin: 0;
  font-family: sofia_pro, Helvetica, Arial, sans-serif;
}

.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.transparent {
  opacity: 0 !important;
}

.not-visible {
  visibility: hidden !important;
}
