#loading {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  color: #c8102e;
  margin: 20rem auto;
  grid-column: 1 / -1;
}

.dot {
  font-size: 0.8rem;
}

#loading span {
  animation: dance 0.6s ease alternate infinite;
}

#loading span:nth-child(1) {
  animation-delay: -0.5s;
}

#loading span:nth-child(2) {
  animation-delay: -0.3s;
}

#loading span:nth-child(3) {
  animation-delay: -0.1s;
}

@keyframes dance {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(0.6);
  }
}
