main {
  margin: 10rem auto 0;
  max-width: 25rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.button-wrapper {
  width: 85%;
  margin: 0 auto;
}

#no-account {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

@media only screen and (max-width: 815px) {
  #not-yours {
    display: none;
  }
  main {
    margin-top: 6rem;
    max-width: 20rem;
  }
  .button-wrapper {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
}
